@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "base/colors";
@import "base/reset";
@import "abstracts/mixins";

/* Header */
header {
  height: 100vh;
}

h2 {
  font-size: 6.2rem;
  font-weight: 400;
  padding-top: 3.6rem;
}

h3 {
  font-size: 1.9rem;
}

/* Subtitulos y framekeys */

.title {
  font-size: 1.9rem;
  color: #757575;
  margin: 1.5rem 0;
  letter-spacing: 0.1rem;
}
.sub-title {
  font-size: 3rem;
  margin: 1.5rem 0;
  font-family: "VT323", monospace;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  animation: changeColor 2s linear infinite;
}

@keyframes changeColor {
  0% {
    background-color: map-get($colorsMap, "purple");
  }
}
/*  ---------------------------*/

/* Navbar  */
.navbar {
  &__side-bar {
    height: 0.3rem;
    width: 0%;
    background-color: map-get($colorsMap, "purple");
    position: fixed;
    top: 0;
    left: -2.5rem;
  }
  &__cont {
    &__custom-toggler {
      border-color: map-get($colorsMap, "purple");
    }
    &__brand img {
      height: 5rem;
      padding-left: 2.5rem;
    }
    &__collapse {
      &__navbar {
        padding-left: 2.5rem;

        &__nav-item {
          margin: 0.2rem;
          &__nav-link {
            font-size: 1.8rem;
            margin: 0 5px;
            text-decoration: none;

            &:hover {
              transition: all 0.5s ease !important;
              color: map-get($colorsMap, "purple") !important;
            }
          }
        }
      }
    }
  }
}

/* Down header, lo primero que se ve al entrar a la pagina */

.down-header {
  height: 100vh;
  padding-top: 22rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  transition: all 0.8s ease-in-out;

  &__name-top {
    font-size: 5.2rem;
    font-weight: 200;
    margin-bottom: 1rem;
    &__name-mid {
      font-size: 6rem;
      color: map-get($colorsMap, "purple");
      letter-spacing: 0.5rem;
      display: block;
      font-weight: 300;
      line-height: 7.5rem;
    }
  }
  &__name-down,
  &__name-down span {
    font-size: 1.5rem;
    color: #757575;
    margin: 0.1rem;
    font-weight: 400;
  }
  &__name-down span {
    display: block;
  }
}

/* ABOUT, incluye skills y tecnologias*/
.about {
  padding: 2.3rem 2.5rem;
  &__title a i {
    font-size: 3rem;
    color: map-get($colorsMap, "purple");
    &:hover {
      color: white;
      transition: all 1s ease;
    }
  }
  &__firstp {
    font-size: 1.8rem;
    margin: 1.5rem 0;
    color: map-get($colorsMap, "purple");
  }
  /* Skills */
  &__skills {
    &__ul {
      margin-top: 3.5rem;
      display: grid;
      grid-template-columns: auto auto;
      gap: 1rem;
      padding: 0;
      .skill {
        text-align: center;
        img {
          background-color: map-get($colorsMap, "purple");
          height: 10rem;
          padding: 1rem;
          border-radius: 1rem;
          margin: 1rem;

          &:hover {
            animation: shake 1.4s;
            animation-iteration-count: infinite;
          }
        }
        p,
        span {
          margin-top: 0.2rem;
          font-size: 1.6rem;
        }
        span {
          display: block;
        }
      }
    }
  }
}

/* TECH  */

.tech {
  padding: 2.3rem 2.5rem;
  &__cont {
    margin-top: 3.8rem;
    display: grid;
    gap: 2rem;
    justify-content: center;
    grid-template-columns: auto auto;
    padding: 0;
    height: 100%;
    img {
      border-radius: 1rem;
      &:hover {
        animation: shake 1.4s;
        animation-iteration-count: infinite;
      }
    }
  }
}
@keyframes shake {
  0% {
    transform: rotate(3deg) scale(1.2);
  }
  20% {
    transform: rotate(-3deg) scale(1.2);
  }
  40% {
    transform: rotate(3deg) scale(1.2);
  }
  60% {
    transform: rotate(-3deg) scale(1.2);
  }
  80% {
    transform: rotate(3deg) scale(1.2);
  }
  100% {
    transform: rotate(0) scale(1.2);
  }
}

/* Services */
/* grid-template-colums: Auto para que cree una sola columna */
/* Diseño mobile first con una columna, y a medida que va creciendo se divide en dos columnas y luego en 3 */

.services {
  padding: 2.5rem;
  &__container {
    display: grid;
    grid-template-columns: auto;
    gap: 1.5rem;
    &__service {
      display: flex;
      flex-direction: column;
      padding: 1.7rem;
      text-align: center;
      i {
        font-size: 6rem;
        color: map-get($colorsMap, "purple");
        &:hover {
          animation: shake 1.4s;
          animation-iteration-count: infinite;
        }
      }
      h3 {
        font-size: 2.2rem;
        margin: 2rem 0;
        font-weight: 500;
      }
      p {
        font-size: 1.8rem;
      }
    }
  }
}

/* Works */

.works {
  padding: 2.5rem;
  &__container {
    margin-top: 3.8rem;
    display: grid;
    grid-template-columns: auto;
    gap: 2.5rem;
    justify-items: center;
  }

  &__carousel {
    max-width: 80%;
    height: auto;
    .carousel-inner .carousel-item img {
      object-fit: cover;
    }
  }
}

/* Contacto, al estar en modo mobile o en pantalla pequeña la aniamción desaparece */

.contact {
  padding: 2.5rem;

  &__box {
    margin-top: 4rem;
    min-height: 50rem;
    @include flexbox;
    justify-content: space-around;

    &__form {
      border-radius: 2rem;
      padding: 4rem 3rem;
      width: auto;
      margin-bottom: 15rem;
      box-shadow: rgba(255, 255, 2525, 0.2) 0px 8px 24px;

      form {
        @include flexbox();
        flex-direction: column;
        padding: auto;
        input,
        textarea {
          width: 100%;
          height: 3.2rem;
          font-size: 1.6rem;
          line-height: 2.2rem;
          margin: 2rem 0;
          border: none;
          border-bottom: 1.5px white solid;
          padding: 0.3rem;
        }
        textarea {
          resize: none;
          height: 10rem;
        }
        .btn-form {
          margin-top: 3rem;
          color: map-get($colorsMap, "white");
          border-radius: 30rem;
          transition: all 0.3s ease;
          padding: 2rem 5rem;
          border: 0.1px solid white;
          font-size: 1.7rem;
          cursor: pointer;
          &::after,
          &::before {
            content: "";
            position: absolute;
            opacity: 0.3;
            background-color: map-get($colorsMap, "purple");
            border-radius: inherit;
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0;
            z-index: -1;
            transition: all 0.3s ease;
          }
          &:hover {
            transform: translate(-1.2rem, -1.2rem);
            border: none;
            &::after {
              transform: translate(0.6rem, 0.6rem);
            }
            &::before {
              transform: translate(1.2rem, 1.2rem);
            }
          }
        }
      }
    }
  }
}

/* ANIMACION */
.content {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation: backend 2.5s linear infinite;
}

@keyframes backend {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0);
  }
}

.database {
  /* Cambiar DISPLAy! */
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}
.block {
  height: 50px;
  width: 150px;
  background-color: rgb(97, 91, 102);
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin-bottom: -6px;
}

.lines {
  display: flex;
  flex: 70%;
  background-color: rgb(97, 91, 102);
}
.line {
  height: 25px;
  width: 4px;
  background-color: black;
  border-radius: 3px;
  margin: 0 5px;
}

.points {
  display: flex;
  flex: 30%;
  background-color: rgb(97, 91, 102);
}

.point {
  height: 15px;
  width: 15px;
  background-color: rgb(66, 180, 242);
  border: 2px solid black;
  border-radius: 100%;
  margin: auto;
}

/* Division */

.division {
  height: 15px;
  width: 115px;
  background-color: rgb(60, 85, 105);
  border: 2px solid black;
  border-radius: 2px;
  position: relative;
}

/* Medium block */

.medium {
  margin-top: -6px;
}

/* CLOUD */

.cloud {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* margin-bottom: -50px; */
}

.base {
  background-color: rgb(112, 202, 255);
  height: 40px;
  width: 115px;
  border-radius: 25px;
  border-bottom: 2px solid black;
  border-top: none;
}

.circle1 {
  width: 40px;
  height: 40px;
  position: relative;
  top: -65px;
  left: -15px;
  border-bottom: none;
  border-right: none;
  border-top: none;
}

.circle2 {
  height: 25px;
  width: 25px;
  position: relative;
  top: -92px;
  right: -15px;
  border-bottom: none;
  border-right: none;
  border-top: none;
}

/* Lineas inferiores conectando a la Db */

.wires {
  display: flex;
  width: 115px;
  justify-content: space-around;
  align-items: center;
  margin-top: -67px;
}

.wire {
  height: 17px;
  width: 3px;
  background-color: #dbdbdb;
  position: relative;
}

.wires-x {
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.wire-x1 {
  height: 3px;
  width: 11px;
  right: -9.5px;
}

.wire-x2 {
  height: 3px;
  width: 3px;
  right: -7.4px;
}
.wire-x3 {
  height: 3px;
  width: 11px;
  right: -5.3px;
}

.wires-y {
  display: flex;
  justify-content: space-between;
}

.wire-y1 {
  right: -9.6px;
}

.wire-y2 {
  right: 0.1px;
}

.wire-y3 {
  left: -9.7px;
}

/* Footer */

.footer {
  text-align: center;
  font-size: 10rem;
  padding: 0 7.5rem;
  a {
    i {
      color: map-get($colorsMap, "purple");
      &:hover {
        color: #d3c8c8;
        transition: all 1s ease;
      }
    }
  }
}
/* Media querys */
/* Generalmente son para agrandar tamaños de fuentes en pantallas de pc y cambiar la distribucion de los grids */
@media (min-width: 690px) {
  h2,
  .title,
  .sub-title,
  .about__firstp,
  #home {
    padding-left: 5.5rem;
  }

  .down-header__name-top {
    font-size: 8rem;
    &__name-mid {
      font-size: 7.2rem;
    }
  }
  .down-header__name-down,
  .down-header__name-down span {
    font-size: 1.8rem;
  }
  .services__container {
    grid-template-columns: auto auto;
  }

  .works__container {
    grid-template-columns: repeat(2, auto);
  }

  .tech__cont {
    grid-template-columns: repeat(3, auto);
    gap: 7rem;
  }
}

@media (min-width: 900px) {
  .tech__cont {
    grid-template-columns: repeat(6, auto);
    gap: 5rem;
  }
  .services__container {
    grid-template-columns: repeat(3, auto);
  }
  .about__skills__ul {
    grid-template-columns: repeat(5, auto);
  }

  .content {
    display: flex;
    margin-top: -15rem;
  }
}
